<% include ../partials/header %>
    <div class="consumer-profile-page container">
        <h2 class="table-header">Welcome back, &nbsp;<%=admin.ename%></h2>
        <div class="user-info-container">
            <p><b>Employee Id : </b><%=admin.eid%></p>
            <p><b>Phone No : </b><%=admin.phone%></p>
            <p><b>Age : </b><%=admin.age%></p>
            <p><b>Board Name : </b><%=admin.boardname%></p>
            <p><b>Designation : </b><%=admin.designation%></p>
            <p><b>Date of Joining  : </b><%=admin.dob%></p>
        </div>
    </div>
<% include ../partials/footer %>