<% include ../partials/header %>
    
    <div class="make-row container">
        <h1 class="table-header">Distribution Companies</h1>
        <div class="search-bar" style="align-self: center">
            <form class="form-inline" action="/distcompanylist" method="post">
                <input class="form-control" type="search" placeholder="Search by State" name="state"></input>
                <input class="btn btn-primary" type="submit" value="Search"></input>
            </form>
            <a class="btn btn-success" href="/distcompanylist/new">Add New</a>
        </div>
        <div class="item">
            <p><b>DID</b></p>
            <p><b>DNAME</b></p>
            <p><b>Tenure</b></p>
            <p><b>State</b></p>
            <p><b>TID</b></p>
            
        </div>
        <%result.forEach(function(transCompany){%>
            <div class="item">
                <p><%= transCompany.did %></p>
                <p><%= transCompany.dname %></p>
                <p><%= transCompany.tenure %></p>
                <p><%= transCompany.state %></p>
                <p><%= transCompany.tid %></p>
            </div>
            <div class="item">
                <div>
                    <form action="/distcompanylist/update" method="post">
                        <input class="get-id" name="name" value="<%= transCompany.did %>"></input>
                        <input type="submit" class="btn btn-info" style="margin-right: 10px" value="Update"></input>
                    </form>
                </div>
                <div>
                    <form action="/distcompanylist/delete" method="post">
                        <input class="get-id" name="name" value="<%= transCompany.did %>"></input>
                        <input type="submit" class="btn btn-danger" value="Delete"></input>
                    </form>
                </div>
            </div>
            
        <%});%>
    </div>
<% include ../partials/footer %>