<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/tables.css">
    <title>Electricity Distribution System</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">EDS</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
    
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
            <a class="nav-link" href="/electricityboardlist">Electricity Board</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="/distcompanylist">Distribution Company</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/transmissioncompanylist">Transmission Company</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/powercompanylist">Power Company</a>
            </li>
        </ul>
        <ul class="navbar-nav pull-right">
            <%if(consumerId){%>
                <li class="nav-item">
                        <a class="nav-link" href="/profile">Hi &nbsp;<%=consumer[0].cname%></a>
                        </li>
                <li class="nav-item">
                    <form action="/logout" method="post">
                        <input style="border: 0px; margin-top:7px; margin-left: 10px ; background-color: gainsboro" type="submit" value="Logout"></input>
                    </form>
                </li>
            <%}%>
            <%if(!consumerId){%>
            <li class="nav-item">
            <a class="nav-link" href="/admin/login">Admin Login</a>
            </li>
            <%}%>
        </ul>
        </div>
    </nav>
    <div class="consumer-profile-page container">
        <h2 class="table-header">Welcome back, &nbsp;<%=consumer[0].cname%></h2>
        <div class="user-info-container">
            <!-- <p><b>Name : </b><%=consumer[0].cname%></p> -->
            <p><b>Consumer No : </b><span id="cid"><%=consumer[0].cid%></span></p>
            <p><b>Phone No : </b><%=consumer[0].phone%></p>
            <p><b>Email Id : </b><%=consumer[0].email%></p>
            <p><b>Address : </b></p>
            <%consumer.forEach(function(consumer){%>
                <li><%=consumer.address%></li>
            <%})%>
            
        </div>
    </div>
<% include ../partials/footer %>