<% include ../partials/header %>
    <div class="consumer-profile-page container">
        <h2 class="table-header">Welcome back, &nbsp;<%=consumer[0].cname%></h2>
        <div class="user-info-container">
            <!-- <p><b>Name : </b><%=consumer[0].cname%></p> -->
            <p><b>Consumer No : </b><span id="cid"><%=consumer[0].cid%></span></p>
            <p><b>Phone No : </b><%=consumer[0].phone%></p>
            <p><b>Email Id : </b><%=consumer[0].email%></p>
            <p><b>Address : </b></p>
            <%consumer.forEach(function(consumer){%>
                <li><%=consumer.address%></li>
            <%})%>
            
        </div>
    </div>
<% include ../partials/footer %>