<% include ../partials/header %>
    <div class="make-row container">
        <h1 class="table-header">Update Distribution Company</h1>
            <form class="add-new-form" style="align-items: center;" action="/distcompany/updating" method="post">
                <div class="add-new-form-item">
                <label>DID</label><input class="form-control" type="text" value="<%=result.did%>" name="did" readonly></input></div>
                <div class="add-new-form-item">
                <label>DNAME</label><input class="form-control" type="text"  value="<%=result.dname%>" name="dname"></input></div>
                <div class="add-new-form-item">
                <label>Tenure</label><input class="form-control" type="text" value="<%=result.tenure%>"  name="tenure"></input></div>
                <div class="add-new-form-item">
                <label>State</label><input class="form-control" type="text" value="<%=result.state%>"  name="state"></input></div>
                <div class="add-new-form-item">
                <label>TID</label><input class="form-control" type="text" value="<%=result.tid%>"  name="tid"></input></div><br>
                <div class="add-new-form-item">
                <input type="submit" class="btn btn-success btn-block" value="Submit"></input>
                </div>
            </form>
    </div>
<% include ../partials/footer %>