<% include ../partials/header %>
    <div class="make-row container">
        <h1 class="table-header">Add Electricity Board</h1>
            <form class="add-new-form" style="align-items: center;" action="/electricityboard/updating" method="post">
                <div class="add-new-form-item">
                <label>Board Name</label><input class="form-control" type="text" name="boardname" value="<%=result.boardname%>" readonly></input></div>
                <div class="add-new-form-item">
                <label>No. of Consumer</label><input class="form-control" type="text" name="noofconsumer" value="<%=result.noofconsumer%>"></input></div>
                <div class="add-new-form-item">
                <label>State</label><input class="form-control" type="text" name="state" value="<%=result.state%>"></input></div>
                <div class="add-new-form-item">
                <label>Chairman Id</label><input class="form-control" type="text" name="chairmanid" value="<%=result.chairmanid%>"></input></div>
                <div class="add-new-form-item">
                <label>Power Consumed</label><input class="form-control" type="text" name="powerconsumed" value="<%=result.powerconsumed%>"></input></div><br>
                <div class="add-new-form-item">
                <input type="submit" class="btn btn-success btn-block" value="Submit"></input>
                </div>
            </form>
    </div>
<% include ../partials/footer %>